@page "/getmd5test"

@using BlazorApp1.Data
@inject WeatherMd5TestServer Md5TestServer

<h3>GetMd5Test</h3>
@if (Md5tests == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>key</th>
                <th>value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Md5test in Md5tests)
            {
                <tr>
                    <td>@Md5test.Id</td>
                    <td>@Md5test.Key</td>
                    <td>@Md5test.Value</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<WeatherMd5Test> Md5tests;
    protected override async Task OnInitializedAsync()
    {
        Md5tests = await Md5TestServer.GetMd5();
    }
}
